name: Generate CSGO Calendar

on:
  schedule:
    - cron: "0 */6 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checar código
        uses: actions/checkout@v4

      # Instalar Google Chrome no GitHub Actions
      - name: Instalar Google Chrome
        run: |
          sudo apt-get update
          sudo apt-get install -y wget unzip
          wget https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
          sudo apt install -y ./google-chrome-stable_current_amd64.deb

      # Configurar Python
      - name: Configurar Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      # Instalar dependências Python
      - name: Instalar dependências Python
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      # Executar script ICS
      - name: Executar generate_ics.py
        run: python generate_ics.py

      # Fazer commit do calendar.ics
      - name: Commit e publicar calendar.ics
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "actions@github.com"
          git add calendar.ics
          if git diff --cached --quiet; then
            echo "Nenhuma mudança no ICS"
          else
            git commit -m "Atualização automática do calendário"
            git push
          fi
